<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.covital">

    <!-- Standard Internet permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Keeps the app from sleeping when a message or alarm is scheduled is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Access Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Access Microphone -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".common.presentation.MainActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Defaults Firebase Performance monitoring to disabled while allowing it to be enabled at runtime -->
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="false" />

        <!-- Defaults Firebase Analytics monitoring to disabled while allowing it to be enabled at runtime -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>
